# Füge die notwendigen Daten ein und benenne die Datei in .env um

# Konfiguration für die Verbindung zum API Server
VUE_APP_SERVER_HOSTNAME={IP-Adresse} #z.B 127.0.0.1 oder localhost
VUE_APP_SERVER_PORT=#z.B 3000

# Configurations File von Fierbase
VUE_APP_FIREBASE_API_KEY={API Key}
VUE_APP_FIREBASE_AUTH_DOMAIN={Auth Domain}
VUE_APP_FIREBASE_PROJECT_ID={Project ID}
VUE_APP_FIREBASE_STORAGE_BUCKET={Storage Bucket}
VUE_APP_FIREBASE_MESSAGING_SENDER_ID={Messaging Sender ID}
VUE_APP_FIREBASE_APP_ID={APP ID}