@import "table";
@import "form";
@import "modal";
@import "memberExport";
@import "pagination";
@import "header";
@import "financeAdmin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.view-title {
    font-size: 2rem;
    margin: 1rem;
}
