
.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .confirm-modal-content {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;

    p {
      text-align: center;
    }

    h3 {
      text-align: center;
    }
  }

  .confirm-modal-header {
    margin-bottom: 10px;
  }

  .confirm-modal-body {
    margin-bottom: 20px;
  }

  .confirm-modal-footer {
    display: flex;
    justify-content: center;

    button {
      margin-left: 10px;
    }
  }
}